[submodule "lib/germboy-core"]
	path = lib/germboy-core
	url = git@github.com:germboy/germboy-core.git
[submodule "lib/germboy-internal"]
	path = lib/germboy-internal
	url = git@github.com:germboy/germboy-internal.git
[submodule "lib/germboy-core2"]
	path = lib/germboy-core2
	url = ../../germboy/germboy-core2
[submodule "lib/germboy-core3"]
	path = lib/germboy-core3
	url = ../../germboy/germboy-core3
